.top-nav
  width 100%
  text-align right
  height 30px
  .social-menu
    float left
    li
      height 30px
      a
        height 30px
  .secudary-menu
    float right
    margin 0
    height 30px
    li
      height 30px
      line-height 30px
      display inline-block
      a
        i
          padding 0 5px
          height 30px
          line-height 30px
          vertical-align middle

