.carousel.reviews {
  text-align: center;
}
.carousel.reviews .card-content img {
  width: 125px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.carousel.reviews .card-action {
  color: #ffc203;
  text-align: center;
}
