.reviews
  .carousel-item
    width 500px
    .card-content
      position absolute
      top 12%
      text-align center
      color initial
    .card-reviews
      text-align center
      border 1px solid rgba(160,160,160,0.2)