.description-content
  background-color #f7f7f7
.description-content.items
  padding 30px 20px !important
.know-item
  padding 5px
  margin 15px 10px
  border-top solid 1px #e0e0e0
  span
    display block
    color #9A9A9A
    padding 5px 22px
