/* ---------------------- */
/*       GENERALES        */
/* ---------------------- */
.booking-header {
  position: absolute;
  top: 35%;
  left: 120px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  width: 350px;
  border-radius: 20px;
}
.booking-header h5 {
  margin-bottom: 15px;
}
.booking-header form {
  color: #fff;
}
.booking-header form .input-field label {
  color: #fff;
}
.booking-header form .input-field .prefix.active {
  color: #fff;
}
.booking-header form input[type=text] {
  border-bottom: solid 1px #fff;
}
.booking-header form input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
.booking-header form input[type=text]:focus:not([readonly])+label {
  color: #fff;
}
.section-divider {
  padding: 50px 0;
}
.things-side-nav {
  padding: 10px;
}
.things-side-nav a {
  color: #000;
}
.things-side-nav a li {
  width: 100%;
  text-align: left;
  padding: 10px;
}
.c-caption {
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 20px;
  font-size: 40px;
  background-color: rgba(0,0,0,0.7);
}
.c-caption span {
  text-shadow: 0 1px #d3d3d3;
}
.see-more {
  padding: 15px;
  background-color: #00bcd4;
  color: #fff;
  border-radius: 30px;
}
.side-collapse .collapsible-body {
  padding: 0;
}
.side-collapse .collapsible-body ul li {
  padding: 5px 25px;
  color: initial;
  font-weight: 300;
}
.side-collapse .collapsible-body ul li:hover {
  color: #fff;
  background-color: #00bcd4;
}
