/* ---------------------- */
/*       GENERALES        */
/* ---------------------- */
.things-side-nav
  padding 10px
  a
    color black
    li
      width 100%
      text-align left
      padding 10px

.c-caption
  position absolute
  top 50%
  color white
  padding 20px
  font-size 40px
  background-color rgba(0,0,0,.7)
  span
    text-shadow 0 1px lightgray

.see-more
  padding 15px
  background-color #039be5
  color white
  border-radius 30px

.side-collapse
  .collapsible-body
    padding 0
    ul
      li
        padding 5px 25px
        color initial
        font-weight 300
        &:hover
          background-color #f5f5f5
