/* ---------------------- */
/*       GENERALES        */
/* ---------------------- */

.booking-header
  position absolute
  top 35%
  left 120px
  padding 10px
  color white
  background-color rgba(0,0,0,.5)
  width 350px
  border-radius 20px
  h5
    margin-bottom 15px
  form
    color white
    .input-field
      label
        color white
    .input-field .prefix.active
      color white
    input[type=text]
      border-bottom solid 1px white
      &:focus:not([readonly])
        border-bottom 1px solid white
        box-shadow 0 1px 0 0 white
      &:focus:not([readonly])+label
        color white



.section-divider
  padding 50px 0
.things-side-nav
  padding 10px
  a
    color black
    li
      width 100%
      text-align left
      padding 10px

.c-caption
  position absolute
  top 50%
  color white
  padding 20px
  font-size 40px
  background-color rgba(0,0,0,.7)
  span
    text-shadow 0 1px lightgray

.see-more
  padding 15px
  background-color #00bcd4
  color white
  border-radius 30px

.side-collapse
  .collapsible-body
    padding 0
    ul
      li
        padding 5px 25px
        color initial
        font-weight 300
        &:hover
          color white
          background-color #00bcd4
